.editor-content {
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.editor-content-header {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.editor-content-content {
    background: white;
    margin: 10px;
    padding: 20px;
    overflow-y: auto;
    height: calc(100% - 40px);
}