.editor-layout {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 56px);
}

.editor-layout > aside {
    width: 300px;
    background: white;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.editor-layout > section {
    flex-grow: 1;
    height: 100%;
    background: lightgray;
}

.editor-layout-content {
    background: white;
    margin: 20px;
    padding: 20px;
    overflow-y: auto;
    height: calc(100% - 40px);
}